wsdl/wsdl-INT.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<definitions targetNamespace="http://www.gencat.cat/educacio/sscc/correu" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.gencat.cat/educacio/sscc/correu" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:eml="http://www.gencat.cat/educacio/sscc/correu/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gencat.cat/educacio/sscc/correu/types" targetNamespace="http://www.gencat.cat/educacio/sscc/correu">
            <xs:import namespace="http://www.gencat.cat/educacio/sscc/correu/types" schemaLocation="SSCCEnviaCorreu.xsd"/>
            <xs:element name="PeticioEnviament" type="eml:PeticioEnviamentType"/>
            <xs:element name="RespostaEnviament" type="eml:RespostaEnviamentType"/>
            <xs:element name="PeticioDisponibilitat" type="eml:PeticioDisponibilitatType"/>
            <xs:element name="RespostaDisponibilitat" type="eml:RespostaDisponibilitatType"/>
        </xs:schema>
    </types>
    <message name="EnviamentPeticio">
        <part name="PeticioEnviament" element="tns:PeticioEnviament"/>
    </message>
    <message name="EnviamentResposta">
        <part name="RespostaEnviament" element="tns:RespostaEnviament"/>
    </message>
    <message name="DisponibilitatPeticio">
        <part name="PeticioDisponibilitat" element="tns:PeticioDisponibilitat"/>
    </message>
    <message name="DisponibilitatResposta">
        <part name="RespostaDisponibilitat" element="tns:RespostaDisponibilitat"/>
    </message>
    <portType name="Correu">
        <operation name="enviament">
            <input message="tns:EnviamentPeticio"/>
            <output message="tns:EnviamentResposta"/>
        </operation>
        <operation name="disponibilitat">
            <input message="tns:DisponibilitatPeticio"/>
            <output message="tns:DisponibilitatResposta"/>
        </operation>
    </portType>
    <binding name="CorreuSoapHttp" type="tns:Correu">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="enviament">
            <soap:operation style="document" soapAction="enviament"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="disponibilitat">
            <soap:operation style="document" soapAction="disponibilitat"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Correu">
        <port name="CorreuHttpPort" binding="tns:CorreuSoapHttp">
            <soap:address location="http://xtec-int.educacio.intranet:8080/event/ServeisComuns/intern/EnviaCorreu/a1/EnviaCorreu"/>
        </port>
    </service>
</definitions>
